################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projeto/Blog/Blog.Web/node_modules

/Projeto/Blog/Blog.Web/bin
/Projeto/Blog/Blog.Web/obj
