
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container space-y-t-h space-y-b">

    <div class="row">

        <div class="col-md-9">

            <div class="row">

                <div class="col-md-12">

                    <ul class="blog-stander-sidebar">

                        

                        <li class="blog-stander-sidebar__details photography" data-category="photography">
                           
                            <div class="post-band">
                                <div class="post-data">
                                    <h2> <a href="post-page.html" class="post-title">Open-Source - Inovação e Colaboração</a> <h2>
                                    <ul class="post-data__group1">
                                        <li class="post-categorize"> <a href="#">data de criação</a></li>
                                        <li><time datetime="2015-04-26T12:04"> <strong>22.Nov.<span class="year-date">2016</span></strong></time></li>
                                    </ul>

                                </div>
                                <!-- / post-data -->
                                <div class="post-brief">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolore doloribus, consequuntur quam, non corporis fugiat natus sunt aut quis cupiditate ipsam? Nesciunt esse repellendus nulla quidem, optio culpa ducimus...<a href="post-page.html">Continuar Lendo  </a> </p>

                                </div>

                                <ul class="post-data__group2">
                                    <li class="post-author"><a href="#"> <i class="fa fa-user"></i> Marcos Mota</a></li>
                                    <li class="post-comment"> <a href="#"><i class="fa fa-comment"></i> 1 </a> </li>
                                </ul>
                            </div>
                            <!-- / post-band -->

                        </li>


                    </ul>
                    <!-- #work-grid-item -->

                </div>
                <!-- / col-md-12 -->

            </div>
            <!-- / row -->

            <div class="row">

                <div class="col-md-12">

                    <div class="tags">
                        <a href="#" class="pagination-arow active">1</a>
                        <a href="#" class="pagination-arow">2</a>
                        <a href="#" class="pagination-arow">3</a>
                        <a href="#" class="pagination-arow">4</a>
                    </div>

                </div>
                <!-- end col-md-12 -->

            </div>
            <!-- end row-->

        </div>
        <!-- end col-md-9-->

        <div class="padding-top-half visible-sm-block visible-xs-block"></div>

        <div class="col-md-3">

            <aside class="blog-sidebar">

                <form id="searchfom" method="get" role="search">

                    <input type="search" style="background: #eee" placeholder="Pesquisar" name="search">

                </form>

                <section class="recent-posts">

                    <h4 class="post-title">Posts Recentes</h4>
                    <ul>
                        <li class="clearfix">
                            <a href="#"><img src="images/news/mini-thumb/1.jpg" alt=""></a>
                            <div class="recent-post__inner">
                                <a href="#"> Titulo 1</a>
                                <time datetime="2015-04-26T12:04"> <strong>22.Nov.<span class="year-date">2015</span></strong></time>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="#"><img src="images/news/mini-thumb/2.jpg" alt=""></a>
                            <div class="recent-post__inner">
                                <a href="#"> Titulo 2</a>
                                <time datetime="2015-04-26T12:04"> <strong>22.Nov.<span class="year-date">2015</span></strong></time>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="#"><img src="images/news/mini-thumb/3.jpg" alt=""></a>
                            <div class="recent-post__inner">
                                <a href="#"> steve jobs</a>
                                <time datetime="2015-04-26T12:04"> <strong>22.Nov.<span class="year-date">2015</span></strong></time>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="#"><img src="images/news/mini-thumb/4.jpg" alt=""></a>
                            <div class="recent-post__inner">
                                <a href="#"> summer hot</a>
                                <time datetime="2015-04-26T12:04"> <strong>22.Nov.<span class="year-date">2015</span></strong></time>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="#"><img src="images/news/mini-thumb/5.jpg" alt=""></a>
                            <div class="recent-post__inner">
                                <a href="#"> how to pose</a>
                                <time datetime="2015-04-26T12:04"> <strong>22.Nov.<span class="year-date">2015</span></strong></time>
                            </div>
                        </li>
                    </ul>

                </section>

                <section class="categories">
                    <h4 class="post-title">Categorias</h4>
                    <ul>
                        <li>
                            <a href="#"> lifestyle</a>
                        </li>
                        <li>
                            <a href="#"> photography</a>
                        </li>
                        <li>
                            <a href="#"> news</a>
                        </li>
                        <li>
                            <a href="#"> music</a>
                        </li>
                        <li>
                            <a href="#"> health</a>
                        </li>
                        <li>
                            <a href="#"> science</a>
                        </li>
                    </ul>

                </section>

    

                <section class="tags">
                    <h4 class="post-title">tags</h4>
                    <a href="#"> lifestyle</a>

                    <a href="#"> photography</a>

                    <a href="#"> news</a>

                    <a href="#"> music</a>

                    <a href="#"> health</a>

                    <a href="#"> science</a>

                    <a href="#"> design</a>

                    <a href="#"> life</a>

                </section>

            </aside>
            <!-- end blog sidebar -->

        </div>
        <!-- end col-md-3 -->

    </div>
    <!-- end row -->

</div>
<!-- end container -->


