<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>

    <link href="~/Content/dist/css/app.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizer-min.js"></script>
    @RenderSection("Styles")
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Blog</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                    <li>
                        <a href="#">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>



    <div class="container" style="margin-top: 50px">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-12">
                @RenderBody()
            </div>
           



        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Blog Marcos Mota @DateTime.Now.Year</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>

    <script src="~/Scripts/jquery-bundle.min.js"></script>
    <script src="~/Scripts/bootstrap-bundle.min.js"></script>
    @RenderSection("Scripts")
</body>
</html>
