<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - Marcos Mota</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="~/Content/dist/css/animsition.css" rel="stylesheet" />
    <link href="~/Content/dist/css/thema.css" rel="stylesheet" />
    <link href="~/Content/dist/css/style.css" rel="stylesheet" />
    <link href="~/Content/dist/css/app.min.css" rel="stylesheet" />
    <style>
        .header-content-inner {
            position: absolute;
            top: 20%;
            left: 15%;
            width: 70%;
            text-align: left;
            color: #fff;
        }

            .header-content-inner h1 {
                /* color: white;
               text-align: center;*/
                font-size: 80px;
                text-transform: none;
                color: #fff;
                font-weight: bold;
                margin: 10px 0;
                font-family: "Ubuntu";
            }

            .header-content-inner p {
                color: white;
                text-align: center;
            }

        .btn-header {
            border-radius: 0px;
            border: 3px solid #fff;
            background: transparent;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 20px;
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <header style="height: 400px">

        <div class="nav-wrap is-fixed is-shrink off-canvas" data-is-fill="true">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 carna-menu-wrap">
                        <ul class="carna-menu menu-highlight menu-smooth">
                            <li>
                                <a href="#home" class="active scrollToMini" data-scroll>Home</a>
                            </li>
                            <li>
                                <a href="#sobre" data-scroll class="scrollToMini">Quem sou eu?</a>
                            </li>
                            <li>
                                <a href="#habilidades" data-scroll class="scrollToMini">Habilidades</a>
                            </li>
                            <li>
                                <a href="#" data-scroll class="scrollToMini">Projetos</a>
                            </li>
                            <li>
                                <a href="#" data-scroll class="scrollToMini">Hobbies</a>
                            </li>
                            <li>
                                <a href="#" data-scroll class="scrollToMini">Blog</a>
                            </li>

                            <li>
                                <a href="#contato" data-scroll class="scrollToMini">Contato</a>
                            </li>
                        </ul>
                        <!-- end of menu -->
                    </div>
                    <!-- / col-md-9 -->
                    <div class="col-xs-3 text-right button-wrap">
                        <button class="button-trigger">
                            <span></span>
                        </button>
                    </div>
                    <!-- / col-xs-6 -->
                    <div class="col-xs-6 col-sm-6 col-md-3 brand-band">
                        <div class="brand-wrap clearfix">
                            <a href="index.html" class="brand">
                                <img src="~/Images/logo/logo-white.png" class="logo-white" alt="" />
                                <img src="~/Images/logo/logo.png" class="logo-dark" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- / col-xs-6 -->
                    <div class="col-xs-3 mm-button-band ">
                        <button id="mm-menu-toggle" class="mm-menu-toggle">
                            Toggle Menu<span></span>
                        </button>
                    </div>
                    <div class="col-md-12 mobile-wrap" data-one-page="true" data-has-button="true">
                        <ul class="carna-menu-mobile mobile-smooth" data-scroll-header>
                            <li>
                                <a href="#home" class="active scrollToMini" data-scroll>Home</a>
                            </li>
                            <li>
                                <a href="#sobre" data-scroll class="scrollToMini">Quem sou eu?</a>
                            </li>
                            <li>
                                <a href="#habilidades" data-scroll class="scrollToMini">Habilidades</a>
                            </li>
                            <li>
                                <a href="#" data-scroll class="scrollToMini">Projetos</a>
                            </li>
                            <li>
                                <a href="#" data-scroll class="scrollToMini">Hobbies</a>
                            </li>
                            <li>
                                <a href="#" data-scroll class="scrollToMini">Blog</a>
                            </li>

                            <li>
                                <a href="#contato" data-scroll class="scrollToMini">Contato</a>
                            </li>
                        </ul>
                    </div>
                    <!-- / col-md-12 -->
                    <div class="clearfix"></div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <div class="header-content-inner">
            <h1>Meu Blog</h1>
            <h2 style="font-family: 'Ubuntu';">Bootstrap Themes</h2>
            
        </div>
        <!-- end nav-wrap -->
        <div id="particles-js"></div>
        <!-- particles.js container -->
    </header>
    <div id="wrapper" class="content-wrapper wrapper">
            @RenderBody()
        <footer class="main-footer space-y text-center"></footer>
    </div>
    <nav id="mm-menu" class="mm-menu">
        <h1 class="mm-menu__title text-uppercase">Informações</h1>
        <div class="mm-menu__address">
            <h6 class="text-uppercase">Quem sou eu?</h6>
            <p>Eu trabalho como programador na Trust Agro e estudo Ciencia da Computação na universidade Estacio de Sá.</p>
        </div>
        <!-- / mm-menu__address-->
        <div class="mm-menu__address">
            <h6 class="text-uppercase">Contato</h6>
            <ul class="mm-menu__list">
                <li>(16) 99139 - 4505</li>
                <li>contato@marcosmota.com</li>
            </ul>
        </div>
        <!-- / mm-menu__address-->
        <!-- / mm-menu__address-->
        <div class="mm-menu__address">
            <h6 class="text-uppercase">Redes Sociais</h6>
            <ul class="mm-menu__social">
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </li>
            </ul>
            <!-- / mm-menu__social -->
        </div>
    </nav>
    <!-- /nav -->
    <a href="#" class="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

    <!-- scripts -->
    <script src="~/Scripts/particles/particles.min.js"></script>
    <script src="~/Scripts/particles/app.js"></script>
    <!-- stats.js -->
    <script src="~/Scripts/jquery-bundle.min.js"></script>
    <script src="~/Scripts/bootstrap-bundle.min.js"></script>
    <script src="~/Scripts/modernizer-min.js"></script>
    <script src="~/Scripts/particles/jquery.animsition.js"></script>
    <script src="~/Scripts/particles/jquery.appear.js"></script>
    <script src="~/Scripts/particles/jquery.bxslider.min.js"></script>
    <script src="~/Scripts/particles/jquery.countTo.js"></script>
    <script src="~/Scripts/particles/jquery.cubeportfolio.min.js"></script>
    <script src="~/Scripts/particles/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/particles/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/particles/map-script.min.js"></script>
    <script src="~/Scripts/particles/masterslider.min.js"></script>
    <script src="~/Scripts/particles/materialmenu.js"></script>
    <script src="~/Scripts/particles/mediaelement-and-player.min.js"></script>
    <script src="~/Scripts/particles/modernizr.js"></script>
    <script src="~/Scripts/particles/velocity.min.js"></script>
    <script src="~/Scripts/particles/retina.min.js"></script>
    <script src="~/portifolio/js/custom.js"></script>
    <script src="~/bower_components/angular/angular.min.js"></script>
    @RenderSection("Scripts")
</body>
</html>